/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #000000;
  --ifm-color-primary-dark: #595959;
  --ifm-color-primary-darker: #4d4d4d;
  --ifm-color-primary-darkest: #404040;
  --ifm-color-primary-light: #737373;
  --ifm-color-primary-lighter: #808080;
  --ifm-color-primary-lightest: #8c8c8c;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #999999;
  --ifm-color-primary-dark: #8c8c8c;
  --ifm-color-primary-darker: #808080;
  --ifm-color-primary-darkest: #737373;
  --ifm-color-primary-light: #a6a6a6;
  --ifm-color-primary-lighter: #b3b3b3;
  --ifm-color-primary-lightest: #bfbfbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
